.wrapper {
  width: 100dvw;
  height: 50dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  #curr {
    height: 500px;
    width: 100%;
  }
  #slide{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .fade {
    animation-name: fade;
    animation-duration: 9s;
  }
  @keyframes fade {
    from { opacity: 0.5;}
    to {opacity: 1;}
  }