<aside id="side-bar" class="h-100">
  <nav>
    <a [routerLink]="['/']"> ↩️ Back To Homepage</a>
    <ul>
      <li>
        <a [routerLink]="['/cars']">
          Cars
        </a>
      </li>
      <li>
        <a [routerLink]="['/motorbikes']">
          MotorBikes
        </a>
      </li>
      <li>
        <a [routerLink]="['/bicycles']">
          Bicycles
        </a>
      </li>
      <li>
        <a [routerLink]="['/blogs']">
          Blogs
        </a>
      </li>
      <li>
        <a [routerLink]="['/drivers']">
          Drivers
        </a>
      </li>
      <li>
        <a [routerLink]="['/login']">
          Log in
        </a>
      </li>
    </ul>
  </nav>
</aside>